 body {
      font-family: Poppins, sans-serif;
      /* margin: 20px; */
        background-image: url("images/background.jpg"); /* relative path */
  background-size: cover;       /* fills the screen */
  background-repeat: no-repeat; /* no tiling */
  background-position: center;  /* centers the image */
  /* height: 100vh;                full viewport height */
  margin: 10px;
      color: #333 ;
}
  #output p{
    font-size: 30px;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    font-style: italic bold;
  }
    .shape {
      border: 1px solid #ccc;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 8px;
    }
    h2 {
      color: blueviolet;

    }
    #machine{
      margin-top: 20px;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #f9f9f9;
    }
    h1 {
      color: red;
      text-align: center;
    }
    label, input {
      display: block;
      margin: 5px 0;
    }
    button {
      margin-top: 10px;
      padding: 5px 10px;
    }
    .result {
      margin-top: 10px;
      font-weight: bold;
      color: #e74c3c;
    }
    .footer {
      text-align: center;
      margin-top: 40px;
      font-size: 0.9em;
      color: #888;
    }
          form {
            margin-bottom: 20px;
            
          }
          #myform label{
            padding: 10px;
            display: flex; gap: 30px; 
            /* align-items: center; */
            /* justify-content: space-evenly; */
            font-weight: bold;
          }
        